.item_blue{
    background-color: blue;
}
.item_green{
    background-color: green;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.box{
    width: 570px;
    height: 570px;
    background-color: rgb(51, 51, 51);
    border-radius: 3%;
}
.box2{
    width: 700px;
    height: 860px;
    background-color: rgb(51, 51, 51);
    border-radius: 3%;
}
.box3{
    width: 500px;
    height: 400px;
    background-color: rgb(51, 51, 51);
    border-radius: 3%;
}
textarea {
    resize: none;
}